@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.pageWrapper {
    width: 100%;
    height: 100vh;
    background-color: #404040;
}

.componentNetwork {
    width: 100%;
    height: 100%;
}

.propertiesDrawerWrapper {
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    display: flex;
    position: fixed;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    flex-direction: column;
    background-color: #ffffff;
    transition: margin 500ms ease-in-out;
}

.propertiesDrawerContent {
    width: 100%;
    height: 100%;
    margin: 10px;
}

.drawerHidden {
    margin-right: -400px;
}

.drawerVisible {
    margin-right: 15px;
}